Use of CHACHA20 alongside GCM

[RFC 6347 Section 3.1](https://datatracker.ietf.org/doc/html/rfc6347#section-3.1) mentions the following;

> DTLS solves the first problem by banning stream ciphers.

From this, i concluded that the use of CHACHA20 (a stream cipher) would not work in DTLS.

However, from both looking at the source code in rustls, and at [RFC 7905](https://datatracker.ietf.org/doc/html/rfc7905), using CHACHA20 looks to be possible, as rustls plugs in sequence numbers into both algorithms just the same.